<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Fruitnanny</title>

<link rel="shortcut icon" href="/public/project/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/public/project/favicon/favicon.ico">


<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="public/thirdparty/css/bootstrap.min.css">
<link rel="stylesheet" href="public/thirdparty/css/bootstrap-slider.min.css">


<!-- Font Awesome -->
<link rel="stylesheet" href="public/thirdparty/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="public/thirdparty/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="public/thirdparty/css/AdminLTE.min.css">

<link rel="stylesheet" href="public/thirdparty/css/skins/skin-blue.min.css">

<!-- Custom -->
<link rel="stylesheet" href="public/project/css/fruitnanny.css">

<!--script src="//localhost:35729/livereload.js"></script-->

<!-- jQuery 2.2.3 -->
<script type="text/javascript" src="public/thirdparty/js/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
var config = <%- JSON.stringify(config) %>
</script>