[Unit]
Description=FruitNanny app service
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/node server/app.js
WorkingDirectory=/opt/fruitnanny
LimitNOFILE=65536
Restart=always
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
